In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
import sys
sys.path.append("Resources/")
import config as c
#import warnings
#warnings.filterwarnings('ignore')

In [2]:
#import file
IMDB_movies = os.path.join("Resources/IMDb_movies.csv")

#create dataframe
IMDB_movies_df = pd.read_csv(IMDB_movies, low_memory=False)

#print data 
IMDB_movies_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [3]:
#select needed columns
IMDB_df = IMDB_movies_df[['imdb_title_id','title','original_title','year','genre','duration','country']]
IMDB_df

,imdb_title_id,title,original_title,year,genre,duration,country
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,45,USA
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,Drama,53,"Germany, Denmark"
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",100,USA
4,tt0002130,L'Inferno,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy
...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,Comedy,95,"France, Belgium"
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,"Comedy, Drama",103,Netherlands
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,Drama,130,India
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,"Drama, Family",98,Turkey
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,Drama,74,Spain

In [4]:
#remove any null values 
IMDB_df2=IMDB_df.dropna()
IMDB_df2

,imdb_title_id,title,original_title,year,genre,duration,country
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,45,USA
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,Drama,53,"Germany, Denmark"
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",100,USA
4,tt0002130,L'Inferno,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy
...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,Comedy,95,"France, Belgium"
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,"Comedy, Drama",103,Netherlands
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,Drama,130,India
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,"Drama, Family",98,Turkey
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,Drama,74,Spain

In [5]:
#add a new column to dataframe that combines the year and movie title and for new movie_id
IMDB_df2.insert(5,'movie_id','')
IMDB_df2.insert(6, 'movie_title','')
IMDB_df2.head()

,imdb_title_id,title,original_title,year,genre,movie_id,movie_title,duration,country
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,,,45,USA
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",,,70,Australia
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,Drama,,,53,"Germany, Denmark"
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",,,100,USA
4,tt0002130,L'Inferno,L'Inferno,1911,"Adventure, Drama, Fantasy",,,68,Italy

In [6]:
#concat year and title to create formatted movie_title
#find out what error message means
IMDB_df2['movie_title']=IMDB_df2['year'].str.cat(IMDB_df2['title'],sep="-")
IMDB_df2

<ipython-input-6-27e1de49772c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IMDB_df2['movie_title']=IMDB_df2['year'].str.cat(IMDB_df2['title'],sep="-")

,imdb_title_id,title,original_title,year,genre,movie_id,movie_title,duration,country
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,,1894-Miss Jerry,45,USA
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",,1906-The Story of the Kelly Gang,70,Australia
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,Drama,,1911-Den sorte drøm,53,"Germany, Denmark"
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",,1912-Cleopatra,100,USA
4,tt0002130,L'Inferno,L'Inferno,1911,"Adventure, Drama, Fantasy",,1911-L'Inferno,68,Italy
...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,Comedy,,2020-Le lion,95,"France, Belgium"
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,"Comedy, Drama",,2020-De Beentjes van Sint-Hildegard,103,Netherlands
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,Drama,,2019-Padmavyuhathile Abhimanyu,130,India
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,"Drama, Family",,2019-Sokagin Çocuklari,98,Turkey
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,Drama,,2019-La vida sense la Sara Amat,74,Spain

In [7]:
#use hash function to generate unique movie id based on movie title
IMDB_df2['movie_id']=IMDB_df2['movie_title'].apply(hash)
IMDB_df2

<ipython-input-7-cc1ce832002f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IMDB_df2['movie_id']=IMDB_df2['movie_title'].apply(hash)

,imdb_title_id,title,original_title,year,genre,movie_id,movie_title,duration,country
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,-2339296205091945627,1894-Miss Jerry,45,USA
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",5061104187247961958,1906-The Story of the Kelly Gang,70,Australia
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,Drama,-6065853368913327717,1911-Den sorte drøm,53,"Germany, Denmark"
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",-329561006228963876,1912-Cleopatra,100,USA
4,tt0002130,L'Inferno,L'Inferno,1911,"Adventure, Drama, Fantasy",-6736277777205505009,1911-L'Inferno,68,Italy
...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,Comedy,8852091134553724696,2020-Le lion,95,"France, Belgium"
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,"Comedy, Drama",6946797640275622708,2020-De Beentjes van Sint-Hildegard,103,Netherlands
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,Drama,-8844055179071418292,2019-Padmavyuhathile Abhimanyu,130,India
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,"Drama, Family",-6384606865528307576,2019-Sokagin Çocuklari,98,Turkey
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,Drama,-7487126601385392918,2019-La vida sense la Sara Amat,74,Spain

In [ ]:
#export results to a csv
#IMDB_df1.to_csv("Resources/Movies.csv")

In [8]:
#create connection to database
imdb_connection = f"postgresql://{c.username}:{c.password}@localhost:58257/movies"

#set engine
engine = create_engine(imdb_connection)

In [9]:
engine

Engine(postgresql://etladmin:***@localhost:58257/movies)

In [ ]:
#engine.table_names()

In [11]:
IMDB_df2.to_sql(name='movies', con=engine, if_exists='append', index=False)

OperationalError: (psycopg2.OperationalError) server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

(Background on this error at: http://sqlalche.me/e/13/e3q8)